<%= form_for(@entry) do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title for entry ..." %>
    <%= f.text_area :content, placeholder: "Compose new entry..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>